table {
    border-collapse: collapse;
    border: 2px solid rgb(232, 230, 227);

}
form #redirectform {
    margin-bottom: 0px;
}
table {
    align-self: center;
    justify-self: center;
    margin: auto;
    margin-bottom: 8px;
}
td, th {
    border: 1px solid rgb(232, 230, 227);
    text-align: center;
    padding: 3px 8px;
}
.main {
    border: 1px solid rgb(232, 230, 227);
}
.main p {
    padding: 0px 8px;
}