@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
	font-family: 'Noto Serif', serif;
	background-color: rgb(24, 26, 27);
	color: rgb(232, 230, 227);
}
.navigation {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 10px 10px;
}
.navigation a {
	margin: 0px 20px;
}
body {
	display: grid;
	width: 450;
	justify-content: center;
	margin: auto;
	padding: 40px;
}
a {
	color: rgb(0,213,255);
}
.title {
	text-align: center;
}
.title h1 {
	font-size: 333%;
}
.links {
	text-align: left;
}